/** Add css rules here for your application. */

.players_label {
	font-size: 13px;
	font-weight: bold;
	color: #4B4A4A;
	text-align: center;
	text-shadow: #DDF 1px 1px 0px;
}

.center {
	text-align: center;
}

.score_big {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: black;
}

.score_big_error {
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	color: red;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.thinButton {
	height: 24px;
	margin-left: 10px;
}

button {
	margin-right: 10px !important;
	background-color: #c3d8d3 !important;
	border-radius: 5px;
}

.button {
	margin-right: 10px !important;
	background-color: #c3d8d3 !important;
	border-radius: 5px;
}

col.playerColumn {
	width: 190px;
}

col.dateColumn {
	width: 140px;
}

.rulesInsets {
	padding-left: 15px;
	padding-top: 10px;
}

/** Most GWT widgets already have a style name defined */
.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

.gwt-TabLayoutPanelTab {
	background-color: #358677 !important
}

.gwt-TabLayoutPanelTab-selected {
	background-color: white !important;
}
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.send-message{
	margin-top: 20px; 
}

.gwt-TextBox-message-textbox{
	width: 400px;
	margin-right: 10px;
}