/** Add css rules here for your application. */
body {
	margin: 0px;
	padding: 0px;
}

.container {
	width: 1200px;
	/* the auto value on the sides, coupled with the width, centers the layout */
	margin: 0 auto;
	position: relative;
}

.versionArea {
	/* Absolute is relative to the container div */
	position: absolute;
	z-index: 999;
	top: 11px;
	right: 15px;
	color: #e2e1d0;
	font-style: italic;
}

.headerPanel {
	width: 100%;
}

.headerLogo {
	border: 1px solid #CCC
}

.contentPanel {
	float: left;
	width: 100%;
	padding: 5px;
}

.refreshPanel {
	position: relative;
	float: right;
	z-index: 999;
	top: 50px;
	left: 60px;
}

.userArea_left {
	float: left;
	width: 50%;
	height: 30px;
	position: relative;
	padding: 5px;
}

.logoutArea_right {
	float: right;
	width: 5%;
	height: 30px;
	padding: 5px;
}

.players_label {
	font-size: 13px;
	font-weight: bold;
	color: #4B4A4A;
	text-align: center;
	text-shadow: #DDF 1px 1px 0px;
}

.center {
	text-align: center;
}

.score_big {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: black;
}

.score_big_error {
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	color: red;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.thinButton {
	height: 24px;
	margin-left: 10px;
}

button {
	margin-right: 10px !important;
	background-color: #c3d8d3 !important;
	border-radius: 5px;
}

.button {
	margin-right: 10px !important;
	background-color: #c3d8d3 !important;
	border-radius: 5px;
}

col.playerColumn {
	width: 190px;
}

col.dateColumn {
	width: 140px;
}

.rulesInsets {
	padding-left: 15px;
	padding-top: 10px;
}

/** Most GWT widgets already have a style name defined */
.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

.gwt-TabLayoutPanelTab {
	background-color: #358677 !important
}

.gwt-TabLayoutPanelTab-selected {
	background-color: white !important;
}
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.send-message{
	margin-top: 20px; 
}

.gwt-TextBox-message-textbox{
	width: 400px;
	margin-right: 10px;
}